.connect {
  margin: 34px 20px 50px 20px;

  &__orange {
    font-family: $text-font;
    color: $orange;
    font-size: 14px;
    line-height: 30px;
  }
  &__title {
    font-family: $title-font;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  &__text {
    font-family: $text-font;
    color: $dark-grey;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  &__button {
    width: 160px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid $orange;
    text-align: center;
    & a {
      padding: 14px 40px;
      color: $orange;
      font-family: $text-font;
      font-size: 20px;
      line-height: 45px;
      text-decoration: none;
    }
  }
}
