.hero {
  height: 100vh;
  background-image: url(/images/cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 70%;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  &__title {
    font-family: $title-font;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    font-family: $text-font;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
  }
  &__button {
    width: 38px;
    height: 36px;
    background-color: $white;
    border-radius: 50%;
    margin: 13px 0 36px 0;
    & a {
      display: block;
      & img {
        padding: 13px 9px;
      }
    }
  }
  @media (min-width: 768px) {
    background-size: 200%;
    background-position: 20% 90%;
    &__title {
      font-size: 75px;
      line-height: 100px;
    }
    &__text {
      width: 340px;
      font-size: 24px;
      line-height: 28px;
    }
  }
  @media (min-width: 1280px) {
    background-size: 150%;
    background-position: 45% 85%;
    &__title {
      font-size: 100px;
      line-height: 132px;
    }
    &__text {
      width: 750px;
    }
  }
}
