<footer class="footer">
    <figure class="footer__button">
        <a href="#hero"><img src="../images/ico-arrow.svg" alt="scroll down"></a>
    </figure>
    <div class="footer__menu">
        <ul>
            <li>zapatillas</li>
            <li>ropa</li>
            <li>niño/a</li>
            <li>destacados</li>
            <li>tips</li>
        </ul>
        <ul>
            <li>twitter</li>
            <li>instagram</li>
            <li>youtube</li>
        </ul>
        <div>
            <p>©2023</p>
            <p>we <span>❤</span> run</p>
        </div>
       
    </div>
</footer>