<footer class="footer">
    <figure class="footer__button">
        <a href="#hero"><img src="../images/ico-arrow.svg" alt="scroll down"></a>
    </figure>
    <div class="footer__menu">
        <ul>
            <li><a href="https://adalab.es/">zapatillas</a></li>
            <li><a href="https://adalab.es/">ropa</a></li>
            <li><a href="https://adalab.es/">niño/a</a></li>
            <li><a href="https://adalab.es/">destacados</a></li>
            <li><a href="https://adalab.es/">tips</a></li>
        </ul>
        <ul>
            <li><a href="https://adalab.es/">twitter</a></li>
            <li><a href="https://adalab.es/">instagram</a></li>
            <li><a href="https://adalab.es/">youtube</a></li>
        </ul>
        <div>
            <p>©2023</p>
            <p>we <span>❤</span> run</p>
        </div>
       
    </div>
</footer>