<section class="new-year">
  <h3 class="new-year__title">Año nuevo, movimientos nuevos</h3>
  <div class="new-year__grid">
    <div>
      <h4>Entrenamientos</h4>
      <p>Sesiones de running y entrenamientos.</p>
    </div>
    <div>
      <h4>Cualquier nivel</h4>
      <p>Entrenamientos para cada nivel</p>
    </div>
    <div>
      <h4>Exclusividad</h4>
      <p>Productos para miembros premium</p>
    </div>
  </div>

  <div class="new-year__button">
    <a href="#">Empezar ahora</a>
  </div>
  
</section>
